.DS_Store
node_modules
public/bundle.*
dist*/
dist/
windist/
storybook-static/
public/service-worker.js
src/licenses.json
public/precache-manifest.*
public/workbox-*
public/fonts/*
public/build/*
yarn*
.env
.env.build
.vercel
.vscode