::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  background-color: #9ebbc6;
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #aec5d8;
}
.bx--side-nav__item.bx--side-nav__item--icon a.bx--side-nav__link {
    padding-left: 1rem;
}

.card-book {
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  white-space: pre-line;
  line-height: 1.5rem;
  transition: all 0.5s;
  word-break: break-word;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 14rem;
  max-width: 14rem;
  position: relative;
  justify-self: center;
  width: 11.5rem;
}
.card-book .circle {
  width: 0.7rem;
  height: 0.7rem;
  background: transparent;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
}
.card-book h2 {
  margin: 0 0 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: initial;
}
.card-book .action.circle  {
    background: var(--cds-interactive-01, #0f62fe);
  
}

.bx--side-nav ~ .bx--content{
  margin-left: 0;
}
#saveTip {
  position: fixed;
  right: 1rem;
  top: 4rem;
  z-index: 100;
}
.tooltip-tool__span{
    padding: 0!important;
}

header {
  -webkit-app-region: drag;
}
.bx--header__action.bx--header__menu-trigger.bx--header__menu-toggle {
  -webkit-app-region: no-drag;
}

#main-content {
  position: relative;
  height: calc(100vh - 3rem - 2rem);
  overflow-y: scroll;
  margin-top: 2rem;
}
.writetoolBar {
  /* position: sticky;
top: 0; */
/* z-index: 100;
background: red;
border: solid;

height: auto;
min-height: auto; */
}
.name-tip {
  background: red;
}
.ce-paragraph {
  text-indent: 2em;
}